<!-- <app-layout></app-layout> -->

<!-- <a routerLink=""> Store </a>
|<a routerLink="products"> Products</a>
|<a routerLink="cart"> Cart    </a>
|<a routerLink="admin"> Admin   </a> -->



<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="admin">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="">Store</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="products">Products</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a routerLink="admin" class="nav-link active" >Admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled"  routerLink="customers">Customer (Coming Soon!)</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled"  routerLink="orders">Orders (Coming Soon!)</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  
  <br>

<router-outlet></router-outlet>


  <ngx-spinner size="medium" name="s1" type="ball-fussion"></ngx-spinner> <!-- small, default, medium, large -->
  <ngx-spinner size="default" name="s2" type="ball-atom"></ngx-spinner>
